body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 50px 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #0074cc;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -17px;
}

.input-container input {
    text-align: center;
    padding: 10px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0074cc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#copyButton {
    padding: 10px 35px;
}

button:hover {
    background-color: #005aaa;
}

.footer a {
    text-align: center; /* Centraliza o texto horizontalmente */
    margin-top: 50px; /* Define uma margem superior para separar do conteúdo acima */
    color: #888; /* Cor do texto do rodapé */
    font-size: 14px; /* Tamanho da fonte do rodapé */text-decoration: none !important; /* Remove o sublinhado do link */
    color: inherit !important; /* Usa a cor do texto pai (herdada) */
}